<template>
    <v-app>
        <v-row no-gutters>
            <v-col cols="2">
                <LeftSideBar />
            </v-col>
            <v-col cols="10">
                <TopBarView />
            </v-col>
        </v-row>
    </v-app>
</template>

<script>
import LeftSideBar from "./components/Sidebar/LeftSideBar.vue";
import TopBarView from "./components/Topbar/TopBarView.vue";
export default {
    components: { LeftSideBar, TopBarView },
};
</script>

<style></style>
