<template>
    <v-card width="100wh">
        <v-layout>
            <v-navigation-drawer permanent theme="dark">
                <v-img src=""> </v-img>
                <h1>LOGO</h1>
                <v-list nav>
                    <v-list-item
                        prepend-icon="mdi-email"
                        title="Quản lý user"
                        value="inbox"
                    ></v-list-item>
                    <v-list-item
                        prepend-icon="mdi-account-supervisor-circle"
                        title="Supervisors"
                        value="supervisors"
                    ></v-list-item>
                    <v-list-item
                        prepend-icon="mdi-clock-start"
                        title="Clock-in"
                        value="clockin"
                    ></v-list-item>
                </v-list>
            </v-navigation-drawer>
            <v-main style="height: 100vh"></v-main>
        </v-layout>
    </v-card>
</template>
